body{font-family: sans-serif}
  
.links line{
  stroke: grey}

.flag{
  background: url('https://dl.dropboxusercontent.com/s/yx2q52k9g420tov/flags.png') no-repeat;
  background-color: #000;
  position: absolute;
}
  
.tooltip{
  position: relative;
  background-color: lightgrey;
  text-align:center;
  width: 50%;
  padding: 10px;
}

/* .chart{
  width:640;
  height:480;
  text-align:center;
} */
  

  