on:
  workflow_dispatch:

name: End-to-end testings on Production App

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.17.0-chrome106
    steps: 
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        run: |
          rm package.json
          rm package-lock.json
          rm yarn.lock
          npm i cypress --save-dev --force
          isLocal=false npx cypress run
