on:
  workflow_dispatch:

name: End-to-end testings on Production App

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: node16.17.0-chrome106
    steps: 
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        run: |
          npm install --force
          isLocal=false npx cypress run
