# This is a basic workflow to help you get started with Actions

name: react-testing

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with: 
          node-version: ${{ matrix.node-version }}
          REACT_APP_FIREBASE_APIKEY: ${{secrets.REACT_APP_FIREBASE_APIKEY}}
          REACT_APP_FIREBASE_APPID: ${{secrets.REACT_APP_FIREBASE_APPID}}
          REACT_APP_FIREBASE_AUTHDOMAIN: ${{secrets.REACT_APP_FIREBASE_AUTHDOMAIN}}
          REACT_APP_FIREBASE_MEASUREMENTID: ${{secrets.REACT_APP_FIREBASE_MEASUREMENTID}}
          REACT_APP_FIREBASE_MESSAGINGSENDERID: ${{REACT_APP_FIREBASE_MESSAGINGSENDERID}}
          REACT_APP_FIREBASE_PROJECTID: ${{REACT_APP_FIREBASE_PROJECTID}}
          REACT_APP_FIREBASE_STORAGEBUCKET: ${{REACT_APP_FIREBASE_STORAGEBUCKET}}
      - run: npm install          
      - run: yarn test
